/*
Copyright (c) 2003-2012, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license
*/
.cke_dialog {
	visibility: visible
}

.cke_dialog_body {
	z-index: 1;
	border: solid 1px #ddd;
	padding: 5px;
	background-color: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px
}

.cke_dialog strong {
	font-weight: bold
}

.cke_dialog_title {
	font-weight: bold;
	font-size: 14px;
	padding: 3px 3px 8px;
	cursor: move;
	position: relative;
	border-bottom: 1px solid #eee
}

.cke_dialog_contents {
	background-color: #ebebeb;
	border: solid 1px #fff;
	border-bottom: 0;
	overflow: auto;
	padding: 17px 10px 5px 10px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-top: 22px
}

.cke_dialog_contents_body {
	overflow: auto;
	padding: 17px 10px 5px 10px;
	margin-top: 22px
}

.cke_dialog_footer {
	text-align: right;
	background-color: #ebebeb;
	border: solid 1px #fff;
	border-bottom: 0;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px
}

.cke_rtl .cke_dialog_footer {
	text-align: left
}

.cke_dialog_footer .cke_resizer {
	margin-top: 24px
}

.cke_dialog_footer .cke_resizer_ltr {
	border-right-color: #ccc
}

.cke_dialog_footer .cke_resizer_rtl {
	border-left-color: #ccc
}

.cke_hc .cke_dialog_footer .cke_resizer {
	margin-bottom: 1px
}

.cke_hc .cke_dialog_footer .cke_resizer_ltr {
	margin-right: 1px
}

.cke_hc .cke_dialog_footer .cke_resizer_rtl {
	margin-left: 1px
}

.cke_dialog_tabs {
	height: 23px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 11px;
	position: absolute;
	z-index: 2
}

.cke_rtl .cke_dialog_tabs {
	right: 10px
}

a.cke_dialog_tab {
	background-image: url(images/sprites.png);
	background-repeat: repeat-x;
	background-position: 0 -1323px;
	background-color: #ebebeb;
	height: 14px;
	padding: 4px 8px;
	display: inline-block;
	cursor: pointer
}

a.cke_dialog_tab:hover {
	background-color: #f1f1e3
}

.cke_hc a.cke_dialog_tab:hover {
	padding: 2px 6px !important;
	border-width: 3px
}

a.cke_dialog_tab_selected {
	background-position: 0 -1279px;
	cursor: default
}

.cke_hc a.cke_dialog_tab_selected {
	padding: 2px 6px !important;
	border-width: 3px
}

.cke_single_page .cke_dialog_tabs {
	display: none
}

.cke_single_page .cke_dialog_contents {
	padding-top: 5px;
	margin-top: 10px
}

.cke_dialog_close_button {
	background-image: url(images/sprites.png);
	background-repeat: no-repeat;
	background-position: 0 -1022px;
	position: absolute;
	cursor: pointer;
	text-align: center;
	height: 20px;
	width: 20px;
	top: 5px
}

.cke_dialog_close_button span {
	display: none
}

.cke_dialog_close_button:hover {
	background-position: 0 -1045px
}

.cke_ltr .cke_dialog_close_button {
	right: 10px
}

.cke_rtl .cke_dialog_close_button {
	left: 10px
}

.cke_dialog_close_button {
	top: 7px
}

div.cke_disabled .cke_dialog_ui_labeled_content * {
	background-color: #a0a0a0;
	cursor: default
}

.cke_dialog_ui_vbox table,.cke_dialog_ui_hbox table {
	margin: auto
}

.cke_dialog_ui_vbox_child {
	padding: 5px 0
}

.cke_dialog_ui_hbox {
	width: 100%
}

.cke_dialog_ui_hbox_first,.cke_dialog_ui_hbox_child,.cke_dialog_ui_hbox_last
	{
	vertical-align: top
}

.cke_ltr .cke_dialog_ui_hbox_first,.cke_ltr .cke_dialog_ui_hbox_child {
	padding-right: 10px
}

.cke_rtl .cke_dialog_ui_hbox_first,.cke_rtl .cke_dialog_ui_hbox_child {
	padding-left: 10px
}

input.cke_dialog_ui_input_text,input.cke_dialog_ui_input_password {
	background-color: white;
	border: 0;
	padding: 0;
	width: 100%;
	height: 14px
}

div.cke_dialog_ui_input_text,div.cke_dialog_ui_input_password {
	background-color: white;
	border: 1px solid #a0a0a0;
	padding: 1px 0
}

textarea.cke_dialog_ui_input_textarea {
	background-color: white;
	border: 0;
	padding: 0;
	width: 100%;
	overflow: auto;
	resize: none
}

div.cke_dialog_ui_input_textarea {
	background-color: white;
	border: 1px solid #a0a0a0;
	padding: 1px 0
}

a.cke_dialog_ui_button {
	border-collapse: separate;
	cursor: default;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: transparent url(images/sprites.png) repeat-x scroll 0
		-1069px;
	padding: 5px 0;
	text-align: center
}

a.cke_dialog_ui_button_ok span,a.cke_dialog_ui_button_cancel span {
	width: 60px;
	padding-right: 20px;
	padding-left: 20px
}

a.cke_dialog_ui_button_ok {
	background-position: 0 -1143px
}

a.cke_dialog_ui_button_ok span {
	background: transparent url(images/sprites.png) no-repeat scroll right
		-1219px
}

.cke_rtl a.cke_dialog_ui_button_ok span {
	background-position: left -1219px
}

a.cke_dialog_ui_button_cancel {
	background-position: 0 -1104px
}

a.cke_dialog_ui_button_cancel span {
	background: transparent url(images/sprites.png) no-repeat scroll right
		-1245px
}

.cke_rtl a.cke_dialog_ui_button_cancel span {
	background-position: left -1245px
}

span.cke_dialog_ui_button {
	padding: 2px 10px;
	text-align: center;
	color: #222;
	display: inline-block;
	cursor: default;
	min-width: 60px
}

a.cke_dialog_ui_button span.cke_disabled {
	border: #898980 1px solid;
	color: #5e5e55;
	background-color: #c5c5b3
}

a.cke_dialog_ui_button:hover,a.cke_dialog_ui_button:focus,a.cke_dialog_ui_button:active
	{
	background-position: 0 -1180px
}

.cke_hc a.cke_dialog_ui_button:hover,.cke_hc a.cke_dialog_ui_button:focus,.cke_hc a.cke_dialog_ui_button:active
	{
	border-width: 2px
}

.cke_dialog_footer_buttons {
	display: inline-table;
	margin-right: 12px;
	margin-left: 12px;
	width: auto;
	position: relative
}

.cke_dialog_footer_buttons span.cke_dialog_ui_button {
	margin: 7px 0;
	text-align: center
}

.cke_dialog_ui_input_select {
	border: 1px solid #a0a0a0;
	background-color: white
}

.cke_dialog_ui_input_file {
	width: 100%;
	height: 25px
}

.cke_dialog .cke_dark_background {
	background-color: #eaead1
}

.cke_dialog .cke_light_background {
	background-color: #ffffbe
}

.cke_dialog .cke_centered {
	text-align: center
}

.cke_dialog a.cke_btn_reset {
	float: right;
	background-position: 0 -32px;
	background-image: url(images/mini.gif);
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	border: 1px none;
	font-size: 1px
}

.cke_rtl .cke_dialog a.cke_btn_reset {
	float: left
}

.cke_dialog a.cke_btn_locked,.cke_dialog a.cke_btn_unlocked {
	float: left;
	background-position: 0 0;
	background-image: url(images/mini.gif);
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	border: none 1px;
	font-size: 1px
}

.cke_dialog a.cke_btn_locked .cke_icon {
	display: none
}

.cke_rtl .cke_dialog a.cke_btn_locked,.cke_rtl .cke_dialog a.cke_btn_unlocked
	{
	float: right
}

.cke_dialog a.cke_btn_unlocked {
	background-position: 0 -16px;
	background-image: url(images/mini.gif)
}

.cke_dialog .cke_btn_over {
	border: outset 1px;
	cursor: pointer
}

.cke_dialog .ImagePreviewBox {
	border: 2px ridge black;
	overflow: scroll;
	height: 200px;
	width: 300px;
	padding: 2px;
	background-color: white
}

.cke_dialog .ImagePreviewBox table td {
	white-space: normal
}

.cke_dialog .ImagePreviewLoader {
	position: absolute;
	white-space: normal;
	overflow: hidden;
	height: 160px;
	width: 230px;
	margin: 2px;
	padding: 2px;
	opacity: .9;
	filter: alpha(opacity = 90);
	background-color: #e4e4e4
}

.cke_dialog .FlashPreviewBox {
	white-space: normal;
	border: 2px ridge black;
	overflow: auto;
	height: 160px;
	width: 390px;
	padding: 2px;
	background-color: white
}

.cke_dialog .cke_pastetext {
	width: 346px;
	height: 170px
}

.cke_dialog .cke_pastetext textarea {
	width: 340px;
	height: 170px;
	resize: none
}

.cke_dialog iframe.cke_pasteframe {
	width: 346px;
	height: 130px;
	background-color: white;
	border: 1px solid black
}

.cke_dialog .cke_hand {
	cursor: pointer
}

.cke_disabled {
	color: #a0a0a0
}

.cke_hc .cke_dialog_title,.cke_hc .cke_dialog_tabs,.cke_hc .cke_dialog_contents,.cke_hc .cke_dialog_footer
	{
	border-left: 1px solid;
	border-right: 1px solid
}

.cke_hc .cke_dialog_title {
	border-top: 1px solid
}

.cke_hc .cke_dialog_footer {
	border-bottom: 1px solid
}

.cke_hc .cke_dialog_close_button span {
	display: inline;
	cursor: pointer;
	font-weight: bold;
	position: relative;
	top: 3px
}

.cke_dialog_body .cke_label {
	display: none
}

.cke_dialog_body label {
	display: inline;
	margin-bottom: auto;
	cursor: default
}

.cke_dialog_body label.cke_required {
	font-weight: bold
}

.cke_hc .cke_dialog_body .cke_label {
	display: inline;
	cursor: inherit
}

.cke_hc a.cke_btn_locked,.cke_hc a.cke_btn_unlocked,.cke_hc a.cke_btn_reset
	{
	border-style: solid;
	float: left;
	width: auto;
	height: auto;
	padding: 0 2px
}

.cke_rtl.cke_hc a.cke_btn_locked,.cke_rtl.cke_hc a.cke_btn_unlocked,.cke_rtl.cke_hc a.cke_btn_reset
	{
	float: right
}

.cke_hc a.cke_btn_locked .cke_icon {
	display: inline
}

a.cke_smile img {
	border: 2px solid #eaead1
}

a.cke_smile:focus img,a.cke_smile:active img,a.cke_smile:hover img {
	border-color: #c7c78f
}

.cke_hc .cke_dialog_tabs a,.cke_hc .cke_dialog_footer a {
	opacity: 1.0;
	filter: alpha(opacity = 100);
	border: 1px solid white
}

.cke_hc .ImagePreviewBox {
	width: 260px
}

.cke_dialog_contents a.colorChooser {
	display: block;
	margin-top: 6px;
	margin-left: 10px;
	width: 80px
}

.cke_rtl .cke_dialog_contents a.colorChooser {
	margin-right: 10px
}

.cke_dialog_ui_checkbox_input:focus,.cke_dialog_ui_radio_input:focus,.cke_dialog_ui_input_select:focus,.cke_btn_over
	{
	outline: 1px dotted #696969
}

.cke_iframe_shim {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	filter: alpha(opacity = 0);
	width: 100%;
	height: 100%
}

.cke_rtl input.cke_dialog_ui_input_text,.cke_rtl input.cke_dialog_ui_input_password
	{
	padding-right: 2px
}

.cke_rtl div.cke_dialog_ui_input_text,.cke_rtl div.cke_dialog_ui_input_password
	{
	padding-left: 2px
}