/*
Copyright (c) 2003-2012, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license
*/
.cke_reset {
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	text-decoration: none;
	width: auto;
	height: auto;
	vertical-align: baseline
}

.cke_reset_all,.cke_reset_all * {
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	text-decoration: none;
	width: auto;
	height: auto;
	vertical-align: baseline;
	border-collapse: collapse;
	font: normal normal normal 12px Arial, Helvetica, Tahoma, Verdana,
		Sans-Serif;
	color: #000;
	text-align: left;
	white-space: nowrap;
	cursor: auto
}

.cke_reset_all .cke_rtl * {
	text-align: right
}

.cke_reset_all iframe {
	vertical-align: inherit
}

.cke_reset_all textarea {
	white-space: pre
}

.cke_reset_all textarea,.cke_reset_all input[type="text"],.cke_reset_all input[type="password"]
	{
	cursor: text
}

.cke_reset_all textarea[disabled],.cke_reset_all input[type="text"][disabled],.cke_reset_all input[type="password"][disabled]
	{
	cursor: default
}

.cke_reset_all fieldset {
	padding: 10px;
	border: 2px groove #e0dfe3
}

.cke_chrome {
	display: block;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #d3d3d3;
	padding: 5px
}

.cke_hc.cke_chrome {
	padding: 2px
}

.cke_inner {
	display: block;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-touch-callout: none;
	border-radius: 5px;
	background: #d3d3d3 url(images/sprites.png) repeat-x 0 -1950px;
	background: -webkit-gradient(linear, 0 -15, 0 40, from(#fff),
		to(#d3d3d3) );
	background: -moz-linear-gradient(top, #fff -15px, #d3d3d3 40px);
	background: -webkit-linear-gradient(top, #fff -15px, #d3d3d3 40px);
	background: -o-linear-gradient(top, #fff -15px, #d3d3d3 40px);
	background: -ms-linear-gradient(top, #fff -15px, #d3d3d3 40px);
	background: linear-gradient(top, #fff -15px, #d3d3d3 40px);
	padding: 5px
}

.cke_float {
	background: #fff
}

.cke_float .cke_inner {
	padding-bottom: 0
}

.cke_hc .cke_contents {
	border: 1px solid black
}

.cke_top,.cke_contents,.cke_bottom {
	display: block;
	overflow: hidden
}

.cke_resizer {
	width: 0;
	height: 0;
	overflow: hidden;
	border-width: 12px 12px 0 12px;
	border-color: transparent #efefef transparent transparent;
	border-style: dashed solid dashed dashed;
	margin: 10px 0 0;
	font-size: 0;
	float: right;
	vertical-align: bottom;
	cursor: se-resize;
	opacity: .8
}

.cke_resizer_ltr {
	margin-left: -12px
}

.cke_resizer_rtl {
	float: left;
	border-color: transparent transparent transparent #efefef;
	border-style: dashed dashed dashed solid;
	margin-right: -12px;
	cursor: sw-resize
}

.cke_hc .cke_resizer {
	width: 10px;
	height: 10px;
	border: 1px solid #fff;
	margin-left: 0
}

.cke_hc .cke_resizer_rtl {
	margin-right: 0
}

.cke_wysiwyg_div {
	display: block;
	height: 100%;
	overflow: auto;
	padding: 0 8px;
	outline-style: none
}

.cke_panel {
	visibility: visible;
	border: 1px solid #8f8f73;
	background-color: #fff;
	width: 120px;
	height: 100px;
	overflow: hidden;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px
}

.cke_menu_panel {
	padding: 2px;
	margin: 0
}

.cke_combopanel {
	border: 1px solid #8f8f73;
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
	height: auto
}

.cke_panel_frame {
	width: 100%;
	height: 100%;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	overflow: auto;
	overflow-x: hidden
}

.cke_panel_container {
	overflow-y: auto;
	overflow-x: hidden
}

.cke_panel_list {
	list-style-type: none;
	margin: 3px;
	padding: 0;
	white-space: nowrap
}

.cke_panel_listItem {
	margin: 0
}

.cke_panel_listItem a {
	padding: 2px;
	display: block;
	border: 1px solid #fff;
	color: inherit !important;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis
}

* html .cke_panel_listItem a {
	width: 100%;
	color: #000
}

*:first-child+html .cke_panel_listItem a {
	color: #000
}

.cke_panel_listItem.cke_selected a {
	border: 1px solid #ccc;
	background-color: #e9f5ff
}

.cke_panel_listItem a:hover,.cke_panel_listItem a:focus,.cke_panel_listItem a:active
	{
	border-color: #316ac5;
	background-color: #dff1ff
}

.cke_hc .cke_panel_listItem.cke_selected a,.cke_hc .cke_panel_listItem a:hover,.cke_hc .cke_panel_listItem a:focus,.cke_hc .cke_panel_listItem a:active
	{
	border-width: 3px;
	padding: 0
}

.cke_panel_grouptitle {
	font-size: 11px;
	font-family: 'Microsoft Sans Serif', Tahoma, Arial, Verdana, Sans-Serif;
	font-weight: bold;
	white-space: nowrap;
	background-color: #dcdcdc;
	color: #000;
	margin: 0;
	padding: 3px
}

.cke_panel_listItem p,.cke_panel_listItem h1,.cke_panel_listItem h2,.cke_panel_listItem h3,.cke_panel_listItem h4,.cke_panel_listItem h5,.cke_panel_listItem h6,.cke_panel_listItem pre
	{
	margin-top: 3px;
	margin-bottom: 3px
}

.cke_colorblock {
	padding: 3px;
	font-size: 11px;
	font-family: 'Microsoft Sans Serif', Tahoma, Arial, Verdana, Sans-Serif
}

.cke_colorblock,.cke_colorblock a {
	text-decoration: none;
	color: #000
}

span.cke_colorbox {
	width: 10px;
	height: 10px;
	border: #808080 1px solid;
	float: left
}

.cke_rtl span.cke_colorbox {
	float: right
}

a.cke_colorbox {
	border: #fff 1px solid;
	padding: 2px;
	float: left;
	width: 12px;
	height: 12px
}

.cke_rtl a.cke_colorbox {
	float: right
}

a:hover.cke_colorbox,a:focus.cke_colorbox,a:active.cke_colorbox {
	border: #316ac5 1px solid;
	background-color: #dff1ff
}

a.cke_colorauto,a.cke_colormore {
	border: #fff 1px solid;
	padding: 2px;
	display: block;
	cursor: pointer
}

a:hover.cke_colorauto,a:hover.cke_colormore,a:focus.cke_colorauto,a:focus.cke_colormore,a:active.cke_colorauto,a:active.cke_colormore
	{
	border: #316ac5 1px solid;
	background-color: #dff1ff
}

.cke_toolbar {
	float: left
}

.cke_rtl .cke_toolbar {
	float: right
}

.cke_toolgroup {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	float: left;
	margin: 0 6px 5px 0;
	padding: 2px;
	background: url(images/sprites.png) repeat-x 0 -500px;
	background: -webkit-gradient(linear, 0 0, 0 100, from(#fff), to(#d3d3d3)
		);
	background: -moz-linear-gradient(top, #fff, #d3d3d3 100px);
	background: -webkit-linear-gradient(top, #fff, #d3d3d3 100px);
	background: -o-linear-gradient(top, #fff, #d3d3d3 100px);
	background: -ms-linear-gradient(top, #fff, #d3d3d3 100px);
	background: linear-gradient(top, #fff, #d3d3d3 100px)
}

.cke_hc .cke_toolgroup {
	padding-right: 0;
	margin-right: 4px
}

.cke_rtl .cke_toolgroup {
	float: right;
	margin-left: 6px;
	margin-right: 0
}

.cke_rtl.cke_hc .cke_toolgroup {
	padding-left: 0;
	margin-left: 4px
}

a.cke_button {
	display: inline-block;
	height: 18px;
	padding: 2px 4px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	outline: 0;
	cursor: default;
	float: left;
	border: 0
}

.cke_rtl .cke_button {
	float: right
}

.cke_hc .cke_button {
	border: 1px solid black;
	padding: 3px 5px;
	margin: -2px 4px 0 -2px
}

.cke_rtl.cke_hc .cke_button {
	margin: -2px -2px 0 4px
}

.cke_button_on {
	background-color: #a3d7ff
}

.cke_hc .cke_button_on {
	border-width: 3px;
	padding: 1px 3px
}

.cke_button_off {
	opacity: .7
}

.cke_button_disabled {
	opacity: .3
}

a.cke_button_on:hover,a.cke_button_on:focus,a.cke_button_on:active {
	background-color: #86caff
}

.cke_hc a.cke_button:hover {
	background: black
}

a.cke_button_off:hover,a.cke_button_off:focus,a.cke_button_off:active {
	background-color: #dff1ff;
	opacity: 1
}

.cke_button_icon {
	cursor: inherit;
	background-repeat: no-repeat;
	margin-top: 1px;
	width: 16px;
	height: 16px;
	float: left;
	display: inline-block
}

.cke_rtl .cke_button_icon {
	float: right
}

.cke_hc .cke_button_icon {
	display: none
}

.cke_button_label {
	display: none;
	padding-left: 3px;
	margin-top: 1px;
	line-height: 16px;
	vertical-align: middle;
	float: left;
	cursor: default
}

.cke_hc .cke_button_label {
	padding: 0;
	display: inline-block
}

.cke_rtl .cke_button_label {
	padding-right: 3px;
	padding-left: 0;
	float: right
}

.cke_button_arrow {
	display: inline-block;
	margin: 7px 0 0 1px;
	width: 0;
	height: 0;
	border-width: 3px;
	border-color: #2f2f2f transparent transparent transparent;
	border-style: solid dashed dashed dashed;
	cursor: default;
	vertical-align: middle
}

.cke_rtl .cke_button_arrow {
	margin-right: 5px;
	margin-left: 0
}

.cke_hc .cke_button_arrow {
	font-size: 10px;
	margin: 0 -2px 0 3px;
	width: auto;
	border: 0
}

.cke_rtl.cke_hc .cke_button_arrow {
	margin: 0 3px 0 -2px
}

.cke_toolbar_separator {
	float: left;
	border-left: solid 1px #d3d3d3;
	margin: 3px 2px 0;
	height: 16px
}

.cke_rtl .cke_toolbar_separator {
	border-right: solid 1px #d3d3d3;
	border-left: 0;
	float: right
}

.cke_hc .cke_toolbar_separator {
	margin-left: 0;
	width: 3px
}

.cke_rtl.cke_hc .cke_toolbar_separator {
	margin: 3px 0 0 2px
}

.cke_toolbar_break {
	display: block;
	clear: left
}

.cke_rtl .cke_toolbar_break {
	clear: right
}

.cke_toolbox_collapser {
	width: 12px;
	height: 11px;
	float: right;
	border: 1px outset #d3d3d3;
	margin: 11px 0 0;
	font-size: 0;
	cursor: default;
	text-align: center
}

.cke_toolbox_collapser.cke_toolbox_collapser_min {
	margin: 0 2px 4px
}

.cke_rtl .cke_toolbox_collapser {
	float: left
}

.cke_hc .cke_toolbox_collapser {
	border-width: 1px
}

.cke_toolbox_collapser .cke_arrow {
	display: inline-block;
	height: 0;
	width: 0;
	font-size: 0;
	border-width: 3px;
	border-style: solid;
	border-color: transparent transparent #2f2f2f
}

.cke_toolbox_collapser.cke_toolbox_collapser_min .cke_arrow {
	margin: 4px 2px 0 0;
	border-color: #2f2f2f transparent transparent
}

.cke_hc .cke_toolbox_collapser .cke_arrow {
	font-size: 8px;
	width: auto;
	border: 0;
	margin-top: 0;
	margin-right: 2px
}

.cke_menubutton {
	display: block
}

.cke_menuitem span {
	cursor: default
}

.cke_menubutton:hover,.cke_menubutton:focus,.cke_menubutton:active {
	background-color: #d3d3d3;
	display: block
}

.cke_hc .cke_menubutton:hover,.cke_hc .cke_menubutton:focus,.cke_hc .cke_menubutton:active
	{
	border: 2px solid
}

.cke_menubutton_icon {
	background-color: #d3d3d3;
	border: solid 4px #d3d3d3;
	opacity: .70;
	filter: alpha(opacity = 70);
	width: 16px;
	height: 16px;
	float: left;
	clear: both
}

.cke_rtl .cke_menubutton_icon {
	float: right
}

.cke_menubutton:hover .cke_menubutton_icon,.cke_menubutton:focus .cke_menubutton_icon,.cke_menubutton:active .cke_menubutton_icon
	{
	background-color: #9d9d9d;
	border: solid 4px #9d9d9d
}

.cke_menubutton_disabled:hover .cke_menubutton_icon,.cke_menubutton_disabled:focus .cke_menubutton_icon,.cke_menubutton_disabled:active .cke_menubutton_icon
	{
	opacity: .3;
	filter: alpha(opacity = 30)
}

.cke_menubutton_label {
	display: block;
	padding-right: 3px;
	padding-top: 5px;
	padding-left: 4px;
	height: 19px;
	margin-left: 24px;
	background-color: #fff
}

.cke_rtl .cke_menubutton_label {
	padding-right: 0;
	margin-left: 0;
	padding-left: 3px;
	margin-right: 28px
}

.cke_menubutton_disabled .cke_menubutton_label {
	opacity: .3;
	filter: alpha(opacity = 30)
}

.cke_menubutton:hover .cke_menubutton_label,.cke_menubutton:focus .cke_menubutton_label,.cke_menubutton:active .cke_menubutton_label
	{
	background-color: #d3d3d3
}

.cke_panel_frame .cke_menubutton_label {
	display: none
}

.cke_menuseparator {
	background-color: #d3d3d3;
	height: 2px;
	filter: alpha(opacity = 70);
	opacity: .70
}

.cke_menuarrow {
	background-image: url(images/sprites.png);
	background-position: 0 -1411px;
	background-repeat: no-repeat;
	height: 5px;
	width: 3px;
	float: right;
	margin-right: 2px;
	margin-top: 3px
}

.cke_rtl .cke_menuarrow {
	float: left;
	margin-right: 0;
	margin-left: 2px;
	background-image: url(images/sprites.png);
	background-position: 0 -1390px;
	background-repeat: no-repeat
}

.cke_menuarrow span {
	display: none
}

.cke_hc .cke_menuarrow {
	width: auto;
	margin-top: 0
}

.cke_hc .cke_menuarrow span {
	display: inline
}

.cke_combo {
	display: inline-block;
	float: left
}

.cke_rtl .cke_combo {
	float: right
}

.cke_combo_label {
	display: none;
	float: left;
	line-height: 26px;
	vertical-align: top;
	margin-right: 5px;
	filter: alpha(opacity =   70);
	opacity: .7
}

.cke_rtl .cke_combo_label {
	float: right;
	margin-left: 5px;
	margin-right: 0
}

.cke_combo_button {
	display: inline-block;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: url(images/sprites.png) 0 -100px repeat-x;
	float: left;
	padding: 2px 4px 2px 6px;
	height: 22px;
	margin: 0 5px 5px 0;
	background: -moz-linear-gradient(bottom, #fff, #d3d3d3 100px);
	background: -webkit-gradient(linear, left bottom, left -100, from(#fff),
		to(#d3d3d3) )
}

a.cke_combo_button:hover,a.cke_combo_button:focus,a.cke_combo_button:active
	{
	background: #dff1ff;
	outline: 0
}

.cke_rtl .cke_combo_button {
	float: right;
	margin-left: 5px;
	margin-right: 0
}

.cke_hc .cke_combo_button {
	border: 1px solid black;
	padding: 1px 3px 1px 3px
}

.cke_hc .cke_rtl .cke_combo_button {
	border: 1px solid black
}

.cke_combo_text {
	line-height: 24px;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #666;
	float: left;
	cursor: default
}

.cke_rtl .cke_combo_text {
	float: right;
	text-align: right
}

.cke_combo_inlinelabel {
	font-style: italic;
	opacity: .70
}

a.cke_combo_button:hover .cke_combo_inlinelabel {
	opacity: 1
}

.cke_combo_open {
	cursor: default;
	display: inline-block;
	font-size: 0;
	height: 19px;
	line-height: 17px;
	margin: 1px 3px;
	width: 5px
}

.cke_combo_arrow {
	margin: 9px 0 0;
	float: left;
	opacity: .70;
	height: 0;
	width: 0;
	font-size: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 3px solid #2f2f2f
}

.cke_hc .cke_combo_arrow {
	font-size: 10px;
	width: auto;
	border: 0;
	margin-top: 4px
}

.cke_path {
	margin-top: 5px;
	float: left
}

.cke_path_item,.cke_path_empty {
	display: inline-block;
	float: left;
	padding: 1px 4px 0;
	color: #60676a;
	cursor: default;
	text-decoration: none;
	outline: 0;
	border: 0
}

.cke_rtl .cke_path,.cke_rtl .cke_path_item,.cke_rtl .cke_path_empty {
	float: right
}

a.cke_path_item:hover,a.cke_path_item:focus,a.cke_path_item:active {
	background-color: #efefef;
	opacity: .7;
	color: #000
}

.cke_button__source_label {
	display: inline
}

.cke_combo__styles .cke_combo_text,.cke_combo__format .cke_combo_text {
	width: 60px
}

.cke_combo__font .cke_combo_text,.cke_combo__fontsize .cke_combo_text {
	width: 30px
}

.cke_combopanel__styles {
	width: 150px;
	height: 170px
}

.cke_combopanel__format {
	width: 150px;
	height: 170px
}

.cke_combopanel__font {
	width: 150px;
	height: 170px
}

.cke_combopanel__fontsize {
	height: 170px
}

.cke_source {
	font-family: 'Courier New', Monospace;
	font-size: small;
	background-color: #fff;
	white-space: pre
}

.cke_wysiwyg_frame,.cke_wysiwyg_div {
	background-color: #fff
}

.cke_chrome {
	visibility: inherit
}

.cke_voice_label {
	display: none
}

legend.cke_voice_label {
	display: none
}

.cke_button__spellchecker_icon {
	background: url(icons.png) no-repeat 0 -0px !important
}

.cke_rtl .cke_button__redo_icon {
	background: url(icons.png) no-repeat 0 -32px !important
}

.cke_button__redo_icon {
	background: url(icons.png) no-repeat 0 -64px !important
}

.cke_rtl .cke_button__undo_icon {
	background: url(icons.png) no-repeat 0 -96px !important
}

.cke_button__undo_icon {
	background: url(icons.png) no-repeat 0 -128px !important
}

.cke_button__uicolor_icon {
	background: url(icons.png) no-repeat 0 -160px !important
}

.cke_rtl .cke_button__templates_icon {
	background: url(icons.png) no-repeat 0 -192px !important
}

.cke_button__templates_icon {
	background: url(icons.png) no-repeat 0 -224px !important
}

.cke_button__table_icon {
	background: url(icons.png) no-repeat 0 -256px !important
}

.cke_button__specialchar_icon {
	background: url(icons.png) no-repeat 0 -288px !important
}

.cke_rtl .cke_button__source_icon {
	background: url(icons.png) no-repeat 0 -320px !important
}

.cke_button__source_icon {
	background: url(icons.png) no-repeat 0 -352px !important
}

.cke_button__smiley_icon {
	background: url(icons.png) no-repeat 0 -384px !important
}

.cke_rtl .cke_button__showblocks_icon {
	background: url(icons.png) no-repeat 0 -416px !important
}

.cke_button__showblocks_icon {
	background: url(icons.png) no-repeat 0 -448px !important
}

.cke_button__selectall_icon {
	background: url(icons.png) no-repeat 0 -480px !important
}

.cke_button__scayt_icon {
	background: url(icons.png) no-repeat 0 -512px !important
}

.cke_button__save_icon {
	background: url(icons.png) no-repeat 0 -544px !important
}

.cke_button__removeformat_icon {
	background: url(icons.png) no-repeat 0 -576px !important
}

.cke_button__print_icon {
	background: url(icons.png) no-repeat 0 -608px !important
}

.cke_rtl .cke_button__preview_icon {
	background: url(icons.png) no-repeat 0 -640px !important
}

.cke_button__preview_icon {
	background: url(icons.png) no-repeat 0 -672px !important
}

.cke_button__createplaceholder_icon {
	background: url(icons.png) no-repeat 0 -704px !important
}

.cke_button__editplaceholder_icon {
	background: url(icons.png) no-repeat 0 -736px !important
}

.cke_rtl .cke_button__pastetext_icon {
	background: url(icons.png) no-repeat 0 -768px !important
}

.cke_button__pastetext_icon {
	background: url(icons.png) no-repeat 0 -800px !important
}

.cke_rtl .cke_button__pastefromword_icon {
	background: url(icons.png) no-repeat 0 -832px !important
}

.cke_button__pastefromword_icon {
	background: url(icons.png) no-repeat 0 -864px !important
}

.cke_rtl .cke_button__pagebreak_icon {
	background: url(icons.png) no-repeat 0 -896px !important
}

.cke_button__pagebreak_icon {
	background: url(icons.png) no-repeat 0 -928px !important
}

.cke_rtl .cke_button__newpage_icon {
	background: url(icons.png) no-repeat 0 -960px !important
}

.cke_button__newpage_icon {
	background: url(icons.png) no-repeat 0 -992px !important
}

.cke_button__maximize_icon {
	background: url(icons.png) no-repeat 0 -1024px !important
}

.cke_rtl .cke_button__bulletedlist_icon {
	background: url(icons.png) no-repeat 0 -1056px !important
}

.cke_button__bulletedlist_icon {
	background: url(icons.png) no-repeat 0 -1088px !important
}

.cke_rtl .cke_button__numberedlist_icon {
	background: url(icons.png) no-repeat 0 -1120px !important
}

.cke_button__numberedlist_icon {
	background: url(icons.png) no-repeat 0 -1152px !important
}

.cke_rtl .cke_button__anchor_icon {
	background: url(icons.png) no-repeat 0 -1184px !important
}

.cke_button__anchor_icon {
	background: url(icons.png) no-repeat 0 -1216px !important
}

.cke_button__link_icon {
	background: url(icons.png) no-repeat 0 -1248px !important
}

.cke_button__unlink_icon {
	background: url(icons.png) no-repeat 0 -1280px !important
}

.cke_button__justifyblock_icon {
	background: url(icons.png) no-repeat 0 -1312px !important
}

.cke_button__justifycenter_icon {
	background: url(icons.png) no-repeat 0 -1344px !important
}

.cke_button__justifyleft_icon {
	background: url(icons.png) no-repeat 0 -1376px !important
}

.cke_button__justifyright_icon {
	background: url(icons.png) no-repeat 0 -1408px !important
}

.cke_rtl .cke_button__indent_icon {
	background: url(icons.png) no-repeat 0 -1440px !important
}

.cke_button__indent_icon {
	background: url(icons.png) no-repeat 0 -1472px !important
}

.cke_rtl .cke_button__outdent_icon {
	background: url(icons.png) no-repeat 0 -1504px !important
}

.cke_button__outdent_icon {
	background: url(icons.png) no-repeat 0 -1536px !important
}

.cke_button__image_icon {
	background: url(icons.png) no-repeat 0 -1568px !important
}

.cke_button__iframe_icon {
	background: url(icons.png) no-repeat 0 -1600px !important
}

.cke_button__horizontalrule_icon {
	background: url(icons.png) no-repeat 0 -1632px !important
}

.cke_button__button_icon {
	background: url(icons.png) no-repeat 0 -1664px !important
}

.cke_button__checkbox_icon {
	background: url(icons.png) no-repeat 0 -1696px !important
}

.cke_button__form_icon {
	background: url(icons.png) no-repeat 0 -1728px !important
}

.cke_button__hiddenfield_icon {
	background: url(icons.png) no-repeat 0 -1760px !important
}

.cke_button__imagebutton_icon {
	background: url(icons.png) no-repeat 0 -1792px !important
}

.cke_button__radio_icon {
	background: url(icons.png) no-repeat 0 -1824px !important
}

.cke_rtl .cke_button__select_icon {
	background: url(icons.png) no-repeat 0 -1856px !important
}

.cke_button__select_icon {
	background: url(icons.png) no-repeat 0 -1888px !important
}

.cke_rtl .cke_button__textarea_icon {
	background: url(icons.png) no-repeat 0 -1920px !important
}

.cke_button__textarea_icon {
	background: url(icons.png) no-repeat 0 -1952px !important
}

.cke_button__textfield_icon {
	background: url(icons.png) no-repeat 0 -1984px !important
}

.cke_button__flash_icon {
	background: url(icons.png) no-repeat 0 -2016px !important
}

.cke_rtl .cke_button__find_icon {
	background: url(icons.png) no-repeat 0 -2048px !important
}

.cke_button__find_icon {
	background: url(icons.png) no-repeat 0 -2080px !important
}

.cke_button__replace_icon {
	background: url(icons.png) no-repeat 0 -2112px !important
}

.cke_rtl .cke_button__docprops_icon {
	background: url(icons.png) no-repeat 0 -2144px !important
}

.cke_button__docprops_icon {
	background: url(icons.png) no-repeat 0 -2176px !important
}

.cke_button__creatediv_icon {
	background: url(icons.png) no-repeat 0 -2208px !important
}

.cke_button__bgcolor_icon {
	background: url(icons.png) no-repeat 0 -2240px !important
}

.cke_button__textcolor_icon {
	background: url(icons.png) no-repeat 0 -2272px !important
}

.cke_rtl .cke_button__copy_icon {
	background: url(icons.png) no-repeat 0 -2304px !important
}

.cke_button__copy_icon {
	background: url(icons.png) no-repeat 0 -2336px !important
}

.cke_rtl .cke_button__cut_icon {
	background: url(icons.png) no-repeat 0 -2368px !important
}

.cke_button__cut_icon {
	background: url(icons.png) no-repeat 0 -2400px !important
}

.cke_rtl .cke_button__paste_icon {
	background: url(icons.png) no-repeat 0 -2432px !important
}

.cke_button__paste_icon {
	background: url(icons.png) no-repeat 0 -2464px !important
}

.cke_button__blockquote_icon {
	background: url(icons.png) no-repeat 0 -2496px !important
}

.cke_button__bidiltr_icon {
	background: url(icons.png) no-repeat 0 -2528px !important
}

.cke_button__bidirtl_icon {
	background: url(icons.png) no-repeat 0 -2560px !important
}

.cke_button__bold_icon {
	background: url(icons.png) no-repeat 0 -2592px !important
}

.cke_button__italic_icon {
	background: url(icons.png) no-repeat 0 -2624px !important
}

.cke_button__strike_icon {
	background: url(icons.png) no-repeat 0 -2656px !important
}

.cke_button__subscript_icon {
	background: url(icons.png) no-repeat 0 -2688px !important
}

.cke_button__superscript_icon {
	background: url(icons.png) no-repeat 0 -2720px !important
}

.cke_button__underline_icon {
	background: url(icons.png) no-repeat 0 -2752px !important
}

.cke_button__about_icon {
	background: url(icons.png) no-repeat 0 -2784px !important
}

.cke_button_off {
	filter: alpha(opacity =   70)
}

.cke_button_on {
	filter: alpha(opacity =   100)
}

.cke_button_disabled {
	filter: alpha(opacity =   30)
}

.cke_button_off:hover,.cke_button_off:focus,.cke_button_off:active {
	filter: alpha(opacity =   100)
}

.cke_hc .cke_button_arrow {
	margin-top: 5px
}

.cke_combo_inlinelabel {
	filter: alpha(opacity =   70)
}

a.cke_combo_button:hover .cke_combo_inlinelabel {
	filter: alpha(opacity =   100)
}

.cke_toolbox_collapser {
	border: 2px outset #efefef
}

.cke_toolbox_collapser .cke_arrow {
	margin: 0 1px 1px 1px
}

.cke_toolbox_collapser.cke_toolbox_collapser_min .cke_arrow {
	margin-left: 2px
}

a.cke_path_item:hover,a.cke_path_item:focus,a.cke_path_item:active {
	filter: alpha(opacity =   70)
}

.cke_resizer {
	filter: alpha(opacity =   80)
}

.cke_hc .cke_resizer {
	filter: none;
	font-size: 28px
}

.cke_rtl div.cke_dialog_ui_input_text {
	padding-left: 1px
}

.cke_rtl input.cke_dialog_ui_input_text {
	position: relative;
	right: 1px;
	padding-left: 1px
}

.cke_menuarrow {
	position: absolute;
	right: 2px
}

.cke_rtl .cke_menuarrow {
	position: absolute;
	left: 2px
}