/*
Copyright (c) 2003-2012, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license
*/
html,body,h1,h2,h3,h4,h5,h6,div,span,blockquote,p,address,form,fieldset,img,ul,ol,dl,dt,dd,li,hr,table,td,th,strong,em,sup,sub,dfn,ins,del,q,cite,var,samp,code,kbd,tt,pre
	{
	line-height: 1.5em;
}

body {
	padding: 10px 30px;
}

input,textarea,select,option,optgroup,button,td,th {
	font-size: 100%;
}

pre,code,kbd,samp,tt {
	font-family: monospace, monospace;
	font-size: 1em;
}

code {
	background: #f3f3f3;
	border: 1px solid #ddd;
	padding: 1px 4px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.new {
	background: #FF7E00;
	border: 1px solid #DA8028;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	padding: 1px 4px;
	text-shadow: 0 1px 0 #C97626;
	text-transform: uppercase;
	margin: 0 0 0 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 2px 3px 0 #FFA54E inset;
	-webkit-box-shadow: 0 2px 3px 0 #FFA54E inset;
	box-shadow: 0 2px 3px 0 #FFA54E inset;
}

h1.samples {
	color: #0782C1;
	font-size: 200%;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

h1.samples a {
	color: #0782C1;
	text-decoration: none;
	border-bottom: 1px dotted #0782C1;
}

.samples a:hover {
	border-bottom: 1px dotted #0782C1;
}

h2.samples {
	color: #000000;
	font-size: 130%;
	margin: 0;
	padding: 0;
}

p,blockquote,address,form,pre,dl,h1.samples,h2.samples {
	margin-bottom: 15px;
}

ul.samples {
	margin-bottom: 15px;
}

.clear {
	clear: both;
}

fieldset {
	margin: 0;
	padding: 10px;
}

body,input,textarea {
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	font-size: 75%;
}

a.samples {
	color: #189DE1;
	text-decoration: none;
}

form {
	margin: 0;
	padding: 0;
}

pre.samples {
	background-color: #F7F7F7;
	border: 1px solid #D7D7D7;
	overflow: auto;
	padding: 0.25em;
}

#footer {
	clear: both;
	padding-top: 10px;
}

#footer hr {
	margin: 10px 0 15px 0;
	height: 1px;
	border: solid 1px gray;
	border-bottom: none;
}

#footer p {
	margin: 0 10px 10px 10px;
	float: left;
}

#footer #copy {
	float: right;
}

#outputSample {
	width: 100%;
	table-layout: fixed;
}

#outputSample thead th {
	color: #dddddd;
	background-color: #999999;
	padding: 4px;
	white-space: nowrap;
}

#outputSample tbody th {
	vertical-align: top;
	text-align: left;
}

#outputSample pre {
	margin: 0;
	padding: 0;
	white-space: pre; /* CSS2 */
	white-space: -moz-pre-wrap; /* Mozilla*/
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

.description {
	border: 1px dotted #B7B7B7;
	margin-bottom: 10px;
	padding: 10px 10px 0;
}

label {
	display: block;
	margin-bottom: 6px;
}

/**
 *	CKEditor editables are automatically set with the "cke_editable" class.
 */
.cke_editable[contenteditable=true] {
	outline: 3px dotted orange !important;
	*border: 3px dotted orange !important; /* For IE7 */
}

/**
 *	Samples index styles.
 */
.twoColumns,.twoColumnsLeft,.twoColumnsRight {
	overflow: hidden;
}

.twoColumnsLeft,.twoColumnsRight {
	width: 45%;
}

.twoColumnsLeft {
	float: left;
}

.twoColumnsRight {
	float: right;
}

dl.samples {
	padding: 0 0 0 40px;
}

dl.samples>dt {
	display: list-item;
	list-style-type: disc;
	list-style-position: outside;
	margin: 0 0 3px;
}

dl.samples>dd {
	margin: 0 0 3px;
}