<!-- Footer ==================================================================================================== -->

<div id="footer">
	<div class="container footer">

		<div class="one_fourth">
			<div id="text-5" class="widget widget_text">
				<h3 class="widget-title">Welcome to Cooky</h3>
				<div class="textwidget">
					<img class="left" src="http://www.anariel.com/wpcooky/wp-content/uploads/2013/06/logo7.png" alt="">
					<p>Cooky is responsive, simple and clean theme with a lot attention to detail. Get it now!</p>
					<a href="http://www.anarieldesign.com/gallery/" title="" class="buttonhome">→ download</a>






				</div>
			</div>
		</div>
		<!-- end one-fourth -->
		<div class="one_fourth">
			<div id="text-7" class="widget widget_text">
				<h3 class="widget-title">Contact us</h3>
				<div class="textwidget">
					Phone: +089 6857 4943 <br> Mobile: +089 6857 4943 <br> Email: info@cooky.com
				</div>
			</div>
			<div id="tag_cloud-4" class="widget widget_tag_cloud">
				<h3 class="widget-title">Tags</h3>
				<div class="tagcloud">
					<a href="http://www.anariel.com/wpcooky/tag/food/" class="tag-link-4" title="2 topics" style="font-size: 22pt;">food</a> <a href="http://www.anariel.com/wpcooky/tag/green/" class="tag-link-9"
						title="1 topic" style="font-size: 8pt;">green</a> <a href="http://www.anariel.com/wpcooky/tag/healthy/" class="tag-link-10" title="1 topic" style="font-size: 8pt;">healthy</a> <a
						href="http://www.anariel.com/wpcooky/tag/inspiration/" class="tag-link-3" title="2 topics" style="font-size: 22pt;">Inspiration</a> <a href="http://www.anariel.com/wpcooky/tag/lovely/"
						class="tag-link-8" title="1 topic" style="font-size: 8pt;">lovely</a> <a href="http://www.anariel.com/wpcooky/tag/recipie/" class="tag-link-11" title="1 topic" style="font-size: 8pt;">recipie</a>
				</div>
			</div>
		</div>
		<!-- end one-fourth -->
		<div class="one_fourth">
			<div id="pages-2" class="widget widget_pages">
				<h3 class="widget-title">Pages</h3>
				<ul>
					<li class="page_item page-item-7 current_page_item"><a href="http://www.anariel.com/wpcooky/">Home</a>
						<ul class="children">
							<li class="page_item page-item-213"><a href="http://www.anariel.com/wpcooky/home/home-five/">Home Five</a></li>
							<li class="page_item page-item-210"><a href="http://www.anariel.com/wpcooky/home/home-four/">Home Four</a></li>
							<li class="page_item page-item-207"><a href="http://www.anariel.com/wpcooky/home/home-three/">Home Three</a></li>
							<li class="page_item page-item-164"><a href="http://www.anariel.com/wpcooky/home/home-two/">Home Two</a></li>
							<li class="page_item page-item-8"><a href="http://www.anariel.com/wpcooky/home/home-one/">Home One</a></li>
						</ul></li>
					<li class="page_item page-item-10"><a href="http://www.anariel.com/wpcooky/about/">About</a>
						<ul class="children">
							<li class="page_item page-item-201"><a href="http://www.anariel.com/wpcooky/about/our-offe/">Our Offer</a></li>
							<li class="page_item page-item-216"><a href="http://www.anariel.com/wpcooky/about/our-team/">Our Team</a></li>
						</ul></li>
					<li class="page_item page-item-12"><a href="http://www.anariel.com/wpcooky/foodmenu/">Food Menu</a>
						<ul class="children">
							<li class="page_item page-item-194"><a href="http://www.anariel.com/wpcooky/foodmenu/menu-second/">Menu Second</a></li>
						</ul></li>
					<li class="page_item page-item-14"><a href="http://www.anariel.com/wpcooky/blog/">Blog</a></li>
					<li class="page_item page-item-23"><a href="http://www.anariel.com/wpcooky/features/">Features</a>
						<ul class="children">
							<li class="page_item page-item-255"><a href="http://www.anariel.com/wpcooky/features/404-page/">404 Page</a></li>
							<li class="page_item page-item-259"><a href="http://www.anariel.com/wpcooky/features/archive/">Archive</a></li>
							<li class="page_item page-item-257"><a href="http://www.anariel.com/wpcooky/features/sitemap/">Sitemap</a></li>
						</ul></li>
					<li class="page_item page-item-24"><a href="http://www.anariel.com/wpcooky/contact/">Contact</a></li>
					<li class="page_item page-item-394"><a href="http://www.anariel.com/wpcooky/forum/">Forum</a></li>
				</ul>
			</div>
		</div>
		<!-- end one-fourth -->
		<div class="one_fourth lastcolumn">
			<div id="text-4" class="widget widget_text">
				<h3 class="widget-title">About</h3>
				<div class="textwidget">
					<p>Cooky is responsive, simple and clean WordPress theme with a lot attention to detail. Get it now!</p>
					<p>
						Visit <a href="http://anarieldesign.com/">Anariel Design</a> and find more interesting things.
					</p>
				</div>
			</div>
			<div id="search-5" class="widget widget_search">
				<form role="search" method="get" id="searchform" action="http://www.anariel.com/wpcooky/">
					<div>
						<label class="screen-reader-text" for="s">Search for:</label> <input type="text" value="" name="s" id="s"> <input type="submit" id="searchsubmit" value="Search">
					</div>
				</form>
			</div>
		</div>
		<!-- end one-fourth -->
	</div>
	<!-- container ends here -->
</div>
<!-- footer ends here -->
