.wellcome{
     background-color: #f5f5f5;
     padding-bottom:48px;
    h1{
        margin-top:54px;
        margin-bottom:27px;
    }
    
}

.info{
       h2{
        font-size: 24px;  
        margin-top:40px;
    }
    ul{
        list-style-type:square;
      li{
        margin-left:-21px; 
      }
    }
}

.strip{
    background-image: url('../images/separator.png');
    background-repeat:repeat-x;
    background-position:center;
    font-size: 24px;
    span{
        background-color: #fff;
        padding-right: 5px;
    }
}

.container.content{
    font-size: 14px;
    h3{
        font-size: 24px;
    }
    .date{
        font-size: 13px;
    }
    h1{
        margin-top: 37px;
        margin-bottom: 41px;
        font-size: 48px;
    }
    h2{
        font-size: 24px;
        a{
            font-size: 24px;
            text-decoration: none;
            &:hover{
                text-decoration: none;
            }
        }
    }
    .sort-article{
        padding: 20px;
        padding-top: 0px;
    }
    a{
        text-decoration: none;
        &:hover{
            text-decoration: none;
            color: @link-hover-color;
        }
    }
    .article-side{
    h3{
        font-size: 13px;
        font-family: 'open_sanslight';
        font-weight: bold;
        margin-top: 0px;
    }
    p{
        font-size: 12px;
    }
    .image{
        padding-right: 0px;
    }
    
    }
    hr{
        border: 1px solid #eeeeee;
    }
    .sidebar{
        margin-top: 24px;
    }
}

#calendar th, #calendar td {
    text-align: center;
}
#calendar{
    td{
      a{
          color:@text-color;
          &:hover{
              text-decoration: none;
          }
      }
      &:hover{
        background-color: #ef4a4e;   
      }
    }
    .calendar-selected-day {
        font-weight: bold;
        background-color: #ef4a4e;   
    }
    th{
      a{
        font-size: 25px; 
        line-height: 12px;
        text-decoration: none;
            &:hover{
                text-decoration: none;
            }
      }
    }
 .weekdays-row{
     th{
        width: 8%;  
        background-color: #fff;
        background-color: #01529b;
        color: #fff;
        border-color: #000;
        border-bottom-style: hidden;
        border-top-style: hidden;
     }
 }
}

#clock{
       font-size: 60px; 
       font-family: @headings-font-family;
       .ampm{
           font-size: 24px; 
       }
       
}

.foto-people{
    .foto{
        margin-bottom:10px;
    }
}

footer{
    background-color: #292929;
    .footer{
        padding-top: 18px;
        padding-bottom: 56px;
        font-family: "latoregular", Helvetica, Arial, sans-serif;
        h3{
            font-family: "latoregular", Helvetica, Arial, sans-serif;
            font-size: 14px;
            margin-bottom: 28px;
        }
        color: #fff;
        ul{
            list-style-type:none;
            margin-left: -40px;
            li{
                margin-left: 0px;
                font-size: 14px;
                border-top-width: 1px;
                border-top-style: dotted;
                line-height: 38px;
                &:first-child{
                    border: none;
                }
                a{
                    color: #fff;
                    text-decoration: none;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
        .pages{
            margin-left: 20px;
        }
        .twet{
            h4{
                font-family: "latoregular", Helvetica, Arial, sans-serif;
                font-size: 14px;
                margin-bottom: 5px;
                margin-top: 0px;
            }
            .time{
                font-size: 10px;
            }
        }
        p{
            font-size: 13px;
            color: #808080;
        }
    }
}
@paging-margin-top:17px;
/* paging */
.paging {
	overflow:hidden;
	font:14px/22px 'Open Sans', Arial, Helvetica, sans-serif;
     margin-top: @paging-margin-top;
}
.paging:after {
	display:block;
	clear:both;
	content:'';
}
.paging ul {
	float:left;
	margin-left:-5px;
     list-style-type: none;
}
.paging li {
	margin-right:4px;
	float:left;
     margin-left: -34px;
}
.paging a {
	float:left;
	color:#fff;
	padding:0 9px;
padding-left: 11px;
}
.paging ul a:hover {
	color:#fff;
}
.paging ul .active {
	background:@navbar-inverse-bg;
}
span.pages{
    margin-top: opx
    display: block;
    float: right;
}

.article-detail{
    h2{
        margin-top: 37px;
    }
    .entry-content{
        margin-top: 50px;
    }
}
.form-horizontal{
    .row{
        margin-top: 10px;
    }
    .send{
        margin-bottom: 30px;
        float: right;
    }
}
.article-home{
    margin-top: 46px;
}

.prtice-example{
    text-align: center;
    .price-box{
        padding-right: 40px;
        .thumbnail{
            border-radius: 0px;
            padding: 0px;
        }
        .note-holder{
            box-sizing:border-box;
            width:100%;
        .holder{
            display:none;
	        text-align:center;
	        position:absolute;
	        top:0;
	        left:0;
	        height:100%;
	        width:100%;
	        background:#000;
	        background:rgba(35, 83, 128, .3);
           
            //width: 100%;
            //padding-right: 40px;
            //margin-left: 16px;
            //height: 206px;
            padding: 85px 5px 5px;
            a{
                &:hover{
                    color: #fff;
                }
            }
        }

        &:hover .holder{
            display: block;
        }
        }
    }
    .heading{
        background-color: #ddd;
        padding-top: 128px;
        padding-bottom: 10px;
        margin-bottom: 30px;
        h4{
            font-family: @font-family-sans-serif;
            color: @gray-light;
            font-size: 18px;
        }
        .price{
            font-family: @font-family-menu;
            font-size: 32px;
        }
    }
}
.product-detail{
    .z-img{
        padding: 0px;
    }
    .large-image{
        margin-left: 0px;
    }
    #gal1{
        img{
            margin-bottom: 15px;
        }
        .thumbnail{
            margin-left: 10px;
        }
    }
    .price{
        h2{
            font-family: @font-family-menu;
            font-size: 32px;
            color: #ef4a4e;
        }
    }
    p{
        a.btn{
            &:hover{
                color: #fff;
            }
        }
    }
}
.cart{
    a.btn{
            &:hover{
                color: #fff;
            }
        }
}