#back-top {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 1;
}

#back-top span {
	width: 50px;
	height: 50px;
	display: block;
	background: #222222 url(./../img/top_arrow.png) no-repeat center center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}

#back-top span:hover {
	background-color: #0081c2;
}