* {
	margin: 0;
	padding: 0;
}

body {
	color: #eee;
	background: url('../img/page_bg.jpg') repeat-x #323232;
	font: 15px Calibri, Arial, sans-serif;
	border-top: 5px solid #212121;
}

#footer {
	background-color: #212121;
	position: fixed;
	width: 100%;
	height: 70px;
	bottom: 0;
	left: 0;
}

a.tzine,a.tzine:visited {
	background: url("../img/tzine.png") no-repeat right top;
	border: none;
	color: #FCFCFC;
	font-size: 12px;
	height: 70px;
	left: 50%;
	line-height: 31px;
	margin: 23px 0 0 110px;
	position: absolute;
	top: 0;
	width: 290px;
}

.tri {
	border-color: transparent transparent #212121;
	border-style: solid;
	border-width: 20px 17px;
	height: 0;
	left: 50%;
	margin: -40px 0 0 -400px;
	position: absolute;
	top: 0;
	width: 0;
}

h1 {
	font-size: 20px;
	font-weight: normal;
	left: 50%;
	margin-left: -400px;
	padding: 25px 0;
	position: absolute;
	width: 480px;
}

a,a:visited {
	text-decoration: none;
	outline: none;
	border-bottom: 1px dotted #97cae6;
	color: #97cae6;
}

a:hover {
	border-bottom: 1px dashed transparent;
}

.clear {
	clear: both;
}