@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'),
		url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff)
		format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'),
		url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff)
		format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
		url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff)
		format('woff');
}
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section
	{
	display: block;
}

audio,canvas,video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

audio:not ([controls] ) {
	display: none;
}

[hidden] {
	display: none;
}

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

html,button,input,select,textarea {
	font-family: sans-serif;
	color: #222;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
::-moz-selection {
	background: #7eb400;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #7eb400;
	color: #fff;
	text-shadow: none;
}

/* =============================================================================
   Links
   ========================================================================== */
a {
	color: #2c3e50;
}

a:hover {
	color: #2c3e50;
}

a:focus {
	outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover,a:active {
	outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
	border-bottom: 1px dotted;
}

b,strong {
	font-weight: bold;
}

blockquote {
	margin: 1em 40px;
}

dfn {
	font-style: italic;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

ins {
	background: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background: #ff0;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
pre,code,kbd,samp {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

q {
	quotes: none;
}

q:before,q:after {
	content: "";
	content: none;
}

small {
	font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */

/*ul, ol { margin: 1em 0; padding: 0 0 0 40px; }*/
ul,ol {
	margin: 0;
	padding: 0;
}

dd {
	margin: 0 0 0 40px;
}

nav ul,nav ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
svg:not (:root ) {
	overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
figure {
	margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
form {
	margin: 0;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
label {
	cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
	border: 0;
	*margin-left: -7px;
	padding: 0;
	white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button,input,select,textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
button,input {
	line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
button,input[type="button"],input[type="reset"],input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
	*overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
button[disabled],input[disabled] {
	cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"],input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
	*width: 13px;
	*height: 13px;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button
	{
	-webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}

/* Colors for form validity */
input:valid,textarea:valid {
	
}

input:invalid,textarea:invalid {
	background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	vertical-align: top;
}

/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */
.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: black;
	padding: 0.2em 0;
}

/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */

/* ==|================= ======================================================
   MAIN NAVIGATION
   ========================================================================== */

/*This  is css for a basic  menu (.main-menu)  if you choose not to use the bootstrap navbar.
To make it responsive (turn it into select element ) you can use  js/libs/jquery.mobilemenu.js  plugin.
/*#main-nav ul.main-menu {
	width: 100%;
	float: left;
	margin:  0;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc; }
#main-nav ul.main-menu  li {
	float: left; }
#main-nav  ul.main-menu  li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc; }
#main-nav  ul.main-menu  li a:hover {
	color: #6600cc;
	background-color: #fff; }*/

/*#main-nav .btn-group ul,#main-nav .btn,select {
    width: 100%!important;
}*/

/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

/*@media only screen and (min-width: 35em) {
  */ /* Style adjustments for viewports that meet the condition */ /*
}*/

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir {
	display: block;
	border: 0;
	text-indent: -999em;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
	*line-height: 0;
}

.ir br {
	display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
	display: none !important;
	visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
	visibility: hidden;
}

/* Contain floats: h5bp.com/q */
.clearfix:before,.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
	* {
		background: transparent !important;
		color: black !important;
		box-shadow: none !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	} /* Black prints faster: h5bp.com/s */
	a,a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
		content: "";
	} /* Don't show links for images, or javascript/internal links */
	pre,blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	} /* h5bp.com/t */
	tr,img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	@page {
		margin: 0.5cm;
	}
	p,h2,h3 {
		orphans: 3;
		widows: 3;
	}
	h2,h3 {
		page-break-after: avoid;
	}
}

.mt200 {
	margin-top: 200px;
}

.mt20 {
	margin-top: 20px;
}

.mb20 {
	margin-bottom: 20px;
}

.mt100 {
	margin-top: 100px;
}

.mt50 {
	margin-top: 50px;
}

.mt10 {
	margin-top: 10px;
}

.mb10 {
	margin-bottom: 10px;
}

.ml10 {
	margin-left: 10px;
}

.mb50 {
	margin-bottom: 50px;
}

.tar {
	text-align: right;
}

.tac {
	text-align: center;
}

.p0 {
	padding: 0px;
}

.cblack {
	color: black;
}

.fz28 {
	font-size: 28px;
}

.batas {
	border-top: 5px solid #233140;
}

.imgmapel {
	width: 199px;
	height: 145px;
}

.imgprofile {
	width: 128px;
	height: 128px;
}

.imgwall {
	width: 32px;
	height: 32px;
}

.imgwall img {
	width: 32px;
	height: 32px;
}

.imgrespon img {
	width: 24px;
	height: 24px;
}

.post .bootstrap-widget .bootstrap-widget-header h3 {
	top: -5px;
}

.respon {
	border-top: 1px solid #233140;
}

.h70 {
	height: 70px;
}

ul,menu,dir {
	list-style-type: none;
}

a:hover,a:focus {
	text-decoration: none;
}

.carousel-caption {
	top: 30%;
	left: 5%;
	right: 0%;
	bottom: 30%;
	padding: 15px;
	background: transparent;
}

.carousel-img {
	position: absolute;
	top: 42%;
	left: 63%;
	right: 0%;
	bottom: 30%;
	padding: 15px;
	background: transparent;
}

.carousel-caption h1 {
	color: #7eb400;
	line-height: 60px;
	font-weight: 300;
	font-size: 58px;
}

.carousel-caption p {
	color: #666;
	font-size: 16px;
}

.carousel-caption h2 {
	color: #666;
	font-size: 24px;
}

.benner h3 {
	font-size: 16px;
}

.benner-h3 {
	display: block;
	padding: 2px 5px 1px 5px;
	color: #666666;
	text-decoration: none;
	background-color: #e0e0e0;
	border-left: 10px solid #666;
	margin-bottom: 10px;
	margin-top: 10px;
}

.benner-h3:hover {
	background-color: #7eb400;
	color: #fff;
	border-left: 10px solid #333;
}

.benner-h3:hover h3 a {
	color: #fff;
}

.benner-h2 {
	position: relative;
	padding: 1px;
}

.benner-h2 img {
	width: 100%;
}

.benner-h2 h2 {
	font-size: 1.05em;
	font-weight: normal;
	letter-spacing: .03em;
	text-transform: uppercase;
	padding: 0px 9px 0px 9px;
	background-color: #333;
	position: absolute;
	top: 0px;
	right: 0px;
	filter: alpha(opacity = 65);
	opacity: 0.65;
	color: #fff;
	line-height: 28px;
}

.benner-h2 h2:hover {
	opacity: 1;
}

.mt50 {
	margin-top: 50px;
}