/*
Copyright (c) 2003-2012, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license
*/

/*
dialog_ie7.css
===============

This file contains styles to used by Internet Explorer 7 only.
*/

/* Base it on dialog_ie.css, overriding it with styles defined in this file. */
@import url("dialog_ie.css");

.cke_dialog_title { /* gradient fix */
	zoom: 1;
}

.cke_dialog_footer {
	padding-top: 5px;
}
/* IE7 needs position static #6806 */
.cke_dialog_footer_buttons { /*position: static;*/
	
}

/* Predefined border to avoid visual size change impact. */
.cke_dialog_ui_checkbox_input,.cke_dialog_ui_ratio_input,.cke_btn_reset,.cke_btn_locked,.cke_btn_unlocked
	{
	border: 1px solid transparent !important;
}