/*
Copyright (c) 2003-2012, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license
*/

/*
dialog.css
============

This file styles dialogs and all widgets available inside of it (tabs, buttons,
fields, etc.).

Dialogs are a complex system because they're very flexible. The CKEditor API
makes it easy to create and customize dialogs by code, by making use of several
different widgets inside its contents.

All dialogs share a main dialog strucuture, which can be visually represented
as follows:

+-- .cke_dialog -------------------------------------------------+
| +-- .cke_dialog_body ----------------------------------------+ |
| | +-- .cke_dialog_title --+ +-- .cke_dialog_close_button --+ | |
| | |                       | |                              | | |
| | +-----------------------+ +------------------------------+ | |
| | +-- .cke_dialog_tabs ------------------------------------+ | |
| | |                                                        | | |
| | +--------------------------------------------------------+ | |
| | +-- .cke_dialog_contents --------------------------------+ | |
| | | +-- .cke_dialog_contents_body -----------------------+ | | |
| | | |                                                    | | | |
| | | +----------------------------------------------------+ | | |
| | | +-- .cke_dialog_footer ------------------------------+ | | |
| | | |                                                    | | | |
| | | +----------------------------------------------------+ | | |
| | +--------------------------------------------------------+ | |
| +------------------------------------------------------------+ |
+----------------------------------------------------------------+

Comments in this file will give more details about each of the above blocks.
*/

/* The outer container of the dialog. */
.cke_dialog {
	/* Mandatory: Because the dialog.css file is loaded on demand, we avoid
        showing an unstyled dialog by hidding it. Here, we restore its visibility. */
	visibility: visible;
}

/* The inner boundary container. */
.cke_dialog_body {
	z-index: 1;
	background: #e5e5e5;
	border: 1px solid #b2b2b2;
	border-bottom-color: #898989;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .15);
	box-shadow: 0 0 3px rgba(0, 0, 0, .15);
}

/* Due to our reset we have to recover the styles of some elements. */
.cke_dialog strong {
	font-weight: bold;
}

/* The dialog title. */
.cke_dialog_title {
	font-weight: bold;
	font-size: 13px;
	cursor: move;
	position: relative;
	color: #474747;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .75);
	border-bottom: 1px solid #898989;
	padding: 6px 10px;
	-moz-border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
	-moz-box-shadow: 0 1px 0 #fff inset;
	-webkit-box-shadow: 0 1px 0 #fff inset;
	box-shadow: 0 1px 0 #fff inset;
	background: #b7b8b7;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8),
		to(#b7b8b7) );
	background-image: -moz-linear-gradient(top, #e8e8e8, #b7b8b7);
	background-image: -webkit-linear-gradient(top, #e8e8e8, #b7b8b7);
	background-image: -o-linear-gradient(top, #e8e8e8, #b7b8b7);
	background-image: -ms-linear-gradient(top, #e8e8e8, #b7b8b7);
	background-image: linear-gradient(top, #e8e8e8, #b7b8b7);
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,
		startColorstr='#ffe8e8e8', endColorstr='#ffb7b8b7' );
}

/* The outer part of the dialog contants, which contains the contents body
   and the footer. */
.cke_dialog_contents {
	background-color: #fff;
	overflow: auto;
	padding: 15px 10px 5px 10px;
	margin-top: 30px;
	border-top: 1px solid #bfbfbf;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

/* The contents body part, which will hold all elements available in the dialog. */
.cke_dialog_contents_body {
	overflow: auto;
	padding: 17px 10px 5px 10px;
	margin-top: 22px;
}

/* The dialog footer, which usually contains the "Ok" and "Cancel" buttons as
   well as a rsizer handle. */
.cke_dialog_footer {
	text-align: right;
	position: relative;
	border: none;
	border-top: 1px solid #bfbfbf;
	-moz-box-shadow: 0 1px 0 #fff inset;
	-webkit-box-shadow: 0 1px 0 #fff inset;
	box-shadow: 0 1px 0 #fff inset;
	-moz-border-radius: 0 0 2px 2px;
	-webkit-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
	background: #c5c7c5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb),
		to(#c5c7c5) );
	background-image: -moz-linear-gradient(top, #ebebeb, #c5c7c5);
	background-image: -webkit-linear-gradient(top, #ebebeb, #c5c7c5);
	background-image: -o-linear-gradient(top, #ebebeb, #c5c7c5);
	background-image: -ms-linear-gradient(top, #ebebeb, #c5c7c5);
	background-image: linear-gradient(top, #ebebeb, #c5c7c5);
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,
		startColorstr='#ffebebeb', endColorstr='#ffc5c7c5' );
}

.cke_rtl .cke_dialog_footer {
	text-align: left;
}

.cke_dialog_footer .cke_resizer {
	
}

.cke_dialog_footer .cke_resizer_ltr {
	
}

.cke_dialog_footer .cke_resizer_rtl {
	
}

/*
Dialog tabs
-------------

Tabs are presented on some of the dialogs to make it possible to have its
contents split on different groups, visible one after the other.

The main element that holds the tabs can be made hidden, in case of no tabs
available.

The following is the visual representation of the tabs block:

+-- .cke_dialog_tabs ------------------------------------+
|  +-- .cke_dialog_tab --+ +-- .cke_dialog_tab --+ ...   | 
|  |                     | |                     |       | 
|  +---------------------+ +---------------------+       | 
+--------------------------------------------------------+

The .cke_dialog_tab_selected class is appended to the active tab.
*/

/* The main tabs container. */
.cke_dialog_tabs {
	height: 24px;
	display: inline-block;
	margin: 5px 0 0;
	position: absolute;
	z-index: 2;
	left: 10px;
}

.cke_rtl .cke_dialog_tabs {
	right: 10px;
}

/* A single tab (an <a> element). */
a.cke_dialog_tab {
	height: 16px;
	padding: 4px 8px;
	margin-right: 3px;
	display: inline-block;
	cursor: pointer;
	line-height: 16px;
	outline: none;
	color: #595959;
	border: 1px solid #bfbfbf;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	background: #d4d4d4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa),
		to(#ededed) );
	background-image: -moz-linear-gradient(top, #fafafa, #ededed);
	background-image: -webkit-linear-gradient(top, #fafafa, #ededed);
	background-image: -o-linear-gradient(top, #fafafa, #ededed);
	background-image: -ms-linear-gradient(top, #fafafa, #ededed);
	background-image: linear-gradient(top, #fafafa, #ededed);
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,
		startColorstr='#fffafafa', endColorstr='#ffededed' );
}

.cke_rtl a.cke_dialog_tab {
	margin-right: 0;
	margin-left: 3px;
}

a.cke_dialog_tab:hover {
	
}

a.cke_dialog_tab_selected {
	background: #fff;
	color: #383838;
	border-bottom-color: #fff;
	cursor: default;
	filter: none;
}

/* The .cke_single_page class is appended to the dialog outer element in case
   of dialogs that has no tabs. */
.cke_single_page .cke_dialog_tabs {
	display: none;
}

.cke_single_page .cke_dialog_contents {
	padding-top: 5px;
	margin-top: 0;
	border-top: none;
}

/* The close button at the top of the dialog. */
.cke_dialog_close_button {
	background-image: url(images/close.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	position: absolute;
	cursor: pointer;
	text-align: center;
	height: 20px;
	width: 20px;
	top: 5px;
}

.cke_dialog_close_button span {
	display: none;
}

.cke_dialog_close_button:hover {
	
}

.cke_ltr .cke_dialog_close_button {
	right: 5px;
}

.cke_rtl .cke_dialog_close_button {
	left: 6px;
}

.cke_dialog_close_button {
	top: 4px;
}

/*
Dialog UI Elements
--------------------

The remaining styles define the UI elements that can be used inside dialog
contents.

Most of the UI elements on dialogs contain a textual label. All of them share
the same labelling structure, having the label text inside an element with
.cke_dialog_ui_labeled_label and the element specific part inside the
.cke_dialog_ui_labeled_content class.
*/

/* If an element is supposed to be disabled, the .cke_disabled class is
   appended to it. */
div.cke_disabled .cke_dialog_ui_labeled_content * {
	background-color: #a0a0a0;
	cursor: default;
}

/*
Horizontal-Box and Vertical-Box
---------------------------------

There are basic layou element used by the editor to properly align elements in
the dialog. They're basically tables that have each cell filled by UI elements.

The following is the visual representation of a H-Box:

+-- .cke_dialog_ui_hbox --------------------------------------------------------------------------------+
|  +-- .cke_dialog_ui_hbox_first --+ +-- .cke_dialog_ui_hbox_child --+ +-- .cke_dialog_ui_hbox_last --+ |
|  +                               + +                               + +                              + |
|  +-------------------------------+ +-------------------------------+ +------------------------------+ |
+-------------------------------------------------------------------------------------------------------+

It is possible to have nested V/H-Boxes.
*/
.cke_dialog_ui_vbox table,.cke_dialog_ui_hbox table {
	margin: auto;
}

.cke_dialog_ui_vbox_child {
	padding: 5px 0px;
}

.cke_dialog_ui_hbox {
	width: 100%;
}

.cke_dialog_ui_hbox_first,.cke_dialog_ui_hbox_child,.cke_dialog_ui_hbox_last
	{
	vertical-align: top;
}

.cke_ltr .cke_dialog_ui_hbox_first,.cke_ltr .cke_dialog_ui_hbox_child {
	padding-right: 10px;
}

.cke_rtl .cke_dialog_ui_hbox_first,.cke_rtl .cke_dialog_ui_hbox_child {
	padding-left: 10px;
}

.cke_ltr .cke_dialog_footer_buttons .cke_dialog_ui_hbox_first,.cke_ltr .cke_dialog_footer_buttons .cke_dialog_ui_hbox_child
	{
	padding-right: 5px;
}

.cke_rtl .cke_dialog_footer_buttons .cke_dialog_ui_hbox_first,.cke_rtl .cke_dialog_footer_buttons .cke_dialog_ui_hbox_child
	{
	padding-left: 5px;
	padding-right: 0;
}

/*
Text Input
------------

The basic text field to input text.

+-- .cke_dialog_ui_text --------------------------+
|  +-- .cke_dialog_ui_labeled_label ------------+ |
|  |                                            | |
|  +--------------------------------------------+ |
|  +-- .cke_dialog_ui_labeled_content ----------+ |
|  | +-- div.cke_dialog_ui_input_text --------+ | |
|  | | +-- input.cke_dialog_ui_input_text --+ | | |
|  | | |                                    | | | |
|  | | +------------------------------------+ | | |
|  | +----------------------------------------+ | |
|  +--------------------------------------------+ |
+-------------------------------------------------+
*/
input.cke_dialog_ui_input_text,input.cke_dialog_ui_input_password {
	background-color: #fff;
	border: 1px solid #c9cccf;
	border-top-color: #aeb3b9;
	padding: 4px 6px;
	width: 100%;
	*width: 95%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15) inset;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15) inset;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .15) inset;
}

div.cke_dialog_ui_input_text,div.cke_dialog_ui_input_password {
	/*background-color: white;*/
	/*border: 1px solid #a0a0a0;*/
	/*padding: 1px 0px;*/
	
}

/*
Textarea
----------

The textarea field to input larger text.

+-- .cke_dialog_ui_textarea --------------------------+
|  +-- .cke_dialog_ui_labeled_label ----------------+ |
|  |                                                | |
|  +------------------------------------------------+ |
|  +-- .cke_dialog_ui_labeled_content --------------+ |
|  | +-- div.cke_dialog_ui_input_textarea --------+ | |
|  | | +-- input.cke_dialog_ui_input_textarea --+ | | |
|  | | |                                        | | | |
|  | | +----------------------------------------+ | | |
|  | +--------------------------------------------+ | |
|  +------------------------------------------------+ |
+-----------------------------------------------------+
*/
textarea.cke_dialog_ui_input_textarea {
	overflow: auto;
	resize: none;
}

div.cke_dialog_ui_input_textarea { /*background-color: white;*/
	/*border: 1px solid #a0a0a0;*/
	/*padding: 1px 0px;*/
	
}

/*
Text Input & Textarea
----------
normal, :hover, :active
*/
input.cke_dialog_ui_input_text,input.cke_dialog_ui_input_password,textarea.cke_dialog_ui_input_textarea
	{
	background-color: #fff;
	border: 1px solid #c9cccf;
	border-top-color: #aeb3b9;
	padding: 4px 6px;
	outline: none;
	width: 100%;
	*width: 95%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15) inset;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15) inset;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .15) inset;
}

input.cke_dialog_ui_input_text:hover,input.cke_dialog_ui_input_password:hover,textarea.cke_dialog_ui_input_textarea:hover
	{
	border: 1px solid #aeb3b9;
	border-top-color: #a0a6ad;
}

input.cke_dialog_ui_input_text:focus,input.cke_dialog_ui_input_password:focus,textarea.cke_dialog_ui_input_textarea:focus
	{
	border: 1px solid #139ff7;
	border-top-color: #1392e9;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .05) inset, 0 0 5px #009cff;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .05) inset, 0 0 5px #009cff;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .05) inset, 0 0 5px #009cff;
}

/*
Button
--------

The buttons used in the dialog footer or inside the contents.

+-- a.cke_dialog_ui_button -----------+
|  +-- span.cke_dialog_ui_button --+  |
|  |                               |  |
|  +-------------------------------+  |
+-------------------------------------+
*/

/* The outer part of the button. */
a.cke_dialog_ui_button {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 3px 12px;
	margin: 0;
	text-align: center;
	color: #333;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #a6a6a6;
	border-bottom-color: #979797;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 0 2px
		rgba(255, 255, 255, .15) inset, 0 1px 0 rgba(255, 255, 255, .15) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 0 2px
		rgba(255, 255, 255, .15) inset, 0 1px 0 rgba(255, 255, 255, .15) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 0 2px
		rgba(255, 255, 255, .15) inset, 0 1px 0 rgba(255, 255, 255, .15) inset;
	background: #e0e0e0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff),
		to(#e0e0e0) );
	background-image: -moz-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -webkit-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -o-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -ms-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: linear-gradient(top, #ffffff, #e0e0e0);
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,
		startColorstr='#ffffffff', endColorstr='#ffe0e0e0' );
}

a.cke_dialog_ui_button:hover {
	border-color: #9e9e9e;
	background: #ccc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2),
		to(#ccc) );
	background-image: -moz-linear-gradient(top, #f2f2f2, #ccc);
	background-image: -webkit-linear-gradient(top, #f2f2f2, #ccc);
	background-image: -o-linear-gradient(top, #f2f2f2, #ccc);
	background-image: -ms-linear-gradient(top, #f2f2f2, #ccc);
	background-image: linear-gradient(top, #f2f2f2, #ccc);
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,
		startColorstr='#fff2f2f2', endColorstr='#ffcccccc' );
}

a.cke_dialog_ui_button[style*="width"] {
	display: block;
	width: auto !important;
}

/* The inner part of the button. */
a.cke_dialog_ui_button_ok span,a.cke_dialog_ui_button_cancel span {
	color: inherit;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	line-height: 20px;
}

/* Special class appended to the Ok button. */
a.cke_dialog_ui_button_ok {
	color: #fff;
	text-shadow: 0 -1px 0 #55830c;
	border-color: #62a60a #62a60a #4d9200;
	background: #69b10b;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9ad717),
		to(#69b10b) );
	background-image: -webkit-linear-gradient(top, #9ad717, #69b10b);
	background-image: -o-linear-gradient(top, #9ad717, #69b10b);
	background-image: linear-gradient(to bottom, #9ad717, #69b10b);
	background-image: -moz-linear-gradient(top, #9ad717, #69b10b);
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,
		startColorstr='#ff9ad717', endColorstr='#ff69b10b' );
}

a.cke_dialog_ui_button_ok:hover {
	border-color: #5b9909 #5b9909 #478500;
	background: #61a30a;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9ad717),
		to(#61a30a) );
	background-image: -webkit-linear-gradient(top, #9ad717, #61a30a);
	background-image: -o-linear-gradient(top, #9ad717, #61a30a);
	background-image: linear-gradient(to bottom, #9ad717, #61a30a);
	background-image: -moz-linear-gradient(top, #9ad717, #61a30a);
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,
		startColorstr='#ff9ad717', endColorstr='#ff61a30a' );
}

a.cke_dialog_ui_button_ok span {
	text-shadow: 0 -1px 0 #55830c;
}

.cke_rtl a.cke_dialog_ui_button_ok span {
	
}

/* Special class appended to the Cancel button. */
a.cke_dialog_ui_button_cancel {
	
}

a.cke_dialog_ui_button_cancel span {
	
}

.cke_rtl a.cke_dialog_ui_button_cancel span {
	
}

span.cke_dialog_ui_button {
	
}

/* .cke_disabled is appended to disabled buttons */
a.cke_dialog_ui_button span.cke_disabled {
	/*border: #898980 1px solid;*/
	/*color: #5e5e55;*/
	/*background-color: #c5c5b3;*/
	
}

a.cke_dialog_ui_button:hover,a.cke_dialog_ui_button:focus,a.cke_dialog_ui_button:active
	{
	
}

/* A special container that holds the footer buttons. */
.cke_dialog_footer_buttons {
	display: inline-table;
	margin: 5px 12px 5px;
	width: auto;
	position: relative;
}

.cke_dialog_footer_buttons span.cke_dialog_ui_button {
	
}

/*
Styles for other dialog element types. 
*/
.cke_dialog_ui_input_select {
	height: 24px;
	line-height: 24px;
	background-color: #fff;
	border: 1px solid #c9cccf;
	border-top-color: #aeb3b9;
	padding: 4px 6px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15) inset;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15) inset;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .15) inset;
}

.cke_dialog_ui_input_file {
	width: 100%;
	height: 25px;
}

/*
 * Some utility CSS classes for dialog authors.
 */
.cke_dialog .cke_dark_background {
	
}

.cke_dialog .cke_light_background {
	
}

.cke_dialog .cke_centered {
	text-align: center;
}

.cke_dialog a.cke_btn_reset {
	float: right;
	background-position: 0 -32px;
	background-image: url(images/mini.png);
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	border: 1px none;
	font-size: 1px;
}

.cke_rtl .cke_dialog a.cke_btn_reset {
	float: left;
}

.cke_dialog a.cke_btn_locked,.cke_dialog a.cke_btn_unlocked {
	float: left;
	background-position: 0 0;
	background-image: url(images/mini.png);
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	border: none 1px;
	font-size: 1px;
}

.cke_dialog a.cke_btn_locked .cke_icon {
	display: none;
}

.cke_rtl .cke_dialog a.cke_btn_locked,.cke_rtl .cke_dialog a.cke_btn_unlocked
	{
	float: right;
}

.cke_dialog a.cke_btn_unlocked {
	background-position: 0 -16px;
	background-image: url(images/mini.png);
}

.cke_dialog .cke_btn_over {
	border: outset 1px;
	cursor: pointer;
}

/*
The rest of the file contains style used on several common plugins. There is a
tendency that these will be moved to the plugins code in the future.
*/
.cke_dialog  .ImagePreviewBox {
	border: 2px ridge black;
	overflow: scroll;
	height: 200px;
	width: 300px;
	padding: 2px;
	background-color: white;
}

.cke_dialog .ImagePreviewBox table td {
	white-space: normal;
}

.cke_dialog  .ImagePreviewLoader {
	position: absolute;
	white-space: normal;
	overflow: hidden;
	height: 160px;
	width: 230px;
	margin: 2px;
	padding: 2px;
	opacity: 0.9;
	filter: alpha(opacity =   90);
	background-color: #e4e4e4;
}

.cke_dialog  .FlashPreviewBox {
	white-space: normal;
	border: 2px ridge black;
	overflow: auto;
	height: 160px;
	width: 390px;
	padding: 2px;
	background-color: white;
}

.cke_dialog .cke_pastetext {
	width: 346px;
	height: 170px;
}

.cke_dialog .cke_pastetext textarea {
	width: 340px;
	height: 170px;
	resize: none;
}

.cke_dialog iframe.cke_pasteframe {
	width: 346px;
	height: 130px;
	background-color: white;
	border: 1px solid #aeb3b9;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.cke_dialog .cke_hand {
	cursor: pointer;
}

.cke_disabled {
	color: #a0a0a0;
}

.cke_dialog_body .cke_label {
	display: none;
}

.cke_dialog_body label {
	display: inline;
	margin-bottom: auto;
	cursor: default;
}

.cke_dialog_body label.cke_required {
	font-weight: bold;
}

a.cke_smile img { /* IE6 does not support transparent borders */
	border: 2px solid #eaead1;
}

a.cke_smile:focus img,a.cke_smile:active img,a.cke_smile:hover img {
	border-color: #C7C78F;
}

/**
 * Styles specific to "cellProperties" dialog.
 */
.cke_dialog_contents a.colorChooser {
	display: block;
	margin-top: 6px;
	margin-left: 10px;
	width: 80px;
}

.cke_rtl .cke_dialog_contents a.colorChooser {
	margin-right: 10px;
}

/* Compensate focus outline for some input elements. (#6200) */
.cke_dialog_ui_checkbox_input:focus,.cke_dialog_ui_radio_input:focus,.cke_dialog_ui_input_select:focus,.cke_btn_over
	{
	outline: 1px dotted #696969;
}

.cke_iframe_shim {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	filter: alpha(opacity =   0);
	width: 100%;
	height: 100%;
}