/*
Copyright (c) 2003-2012, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license
*/

/* "Source" button label */
.cke_button__source_label {
	display: inline;
}

.cke_combo__styles .cke_combo_text,.cke_combo__format .cke_combo_text {
	width: 60px;
}

.cke_combo__font .cke_combo_text,.cke_combo__fontsize .cke_combo_text {
	width: 30px;
}

/* "Styles" panel size */
.cke_combopanel__styles {
	width: 150px;
	height: 170px;
}

/* "Format" panel size */
.cke_combopanel__format {
	width: 150px;
	height: 170px;
}

/* "Font" panel size */
.cke_combopanel__font {
	width: 150px;
	height: 170px;
}

/* "Font Size" panel size */
.cke_combopanel__fontsize {
	height: 170px;
}

/* Editable regions */
.cke_source {
	font-family: 'Courier New', Monospace;
	font-size: small;
	background-color: #fff;
	white-space: pre;
}

.cke_wysiwyg_frame,.cke_wysiwyg_div {
	background-color: #fff;
}