<!-- Home Content Part - Info Row ==================================================================================================== -->
<div class="container">
	<div class="inforow">
		<div class="one_third">


			<!-- begin generated sidebar -->
			<div id="anariel_contact-6" class="widget recent_posts">
				<div id="firstbox">
					<section class="boxtwoleft">
						<h2 class="box2">Cooky Contact Info</h2>
						<h3>
							<img class="circle1 shadow" src="http://www.anariel.com/wpcooky/wp-content/uploads/2013/06/11.jpg" alt="Contact Info">
						</h3>
						<h3>583 410th Street Green, London</h3>
						<h3>
							<strong>Phone:</strong>+089 6857 4943
						</h3>
						<h3>
							<strong>Email:</strong>info@cooky.com
						</h3>
					</section>
				</div>
			</div>
			<!-- end generated sidebar -->

		</div>
		<div class="two_third lastcolumn">
			<div class="one_half latestpost">
				<h2 class="box2">
					<a href="http://www.anariel.com/wpcooky/new-healthy-recipe/"> New Healthy Recipes </a>
				</h2>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi. Etiam eget mi
					enim, non ultricies nisi voluptatem, illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem.</p>
				<p class="quote">Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non</p>
			</div>
			<!-- column ends here -->
			<div class="one_half lastcolumn">


				<!-- begin generated sidebar -->
				<div id="anariel_opentime-3" class="widget recent_posts">
					<div id="secondbox">
						<section class="boxtwocenter">
							<h2 class="box2">Open Daily</h2>
							<h3>
								<img class="circle1 shadow" src="http://www.anariel.com/wpcooky/wp-content/uploads/2013/06/3.jpg" alt="open time Info">
							</h3>
							<h3>
								<strong>Mon-Fri:</strong>10am - 10pm
							</h3>
							<h3>
								<strong>Sat-Sun:</strong>9am - 11pm
							</h3>
							<h3>
								<strong>Holidays:</strong>9am - 11pm
							</h3>
						</section>
					</div>
				</div>
				<!-- end generated sidebar -->

			</div>
		</div>
	</div>
	<!-- info ends here -->
</div>
<!-- container ends here -->