/*
Copyright (c) 2003-2012, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license
*/

/*
mainui.css (part of editor.css)
=================================

This file styles the basic structure of the CKEditor user interface - the box
that holds everything.

CKEditor offers two main editing modes. The main UI blocks that compose these
modes are:

	For "Theme UI" mode, the one most generally used:

	+-- .cke_chrome ----------------------+
	|+-- .cke_inner ---------------------+|
	|| +-- .cke_top -------------------+ ||
	|| |                               | ||
	|| +-------------------------------+ ||
	|| +-- .cke_contents --------------+ ||
	|| |                               | ||
	|| +-------------------------------+ ||
	|| +-- .cke_bottom ----------------+ ||
	|| |                               | ||
	|| +-------------------------------+ ||
	|+-----------------------------------+|
	+-------------------------------------+

	For "Inline Editing" mode:

	+-- .cke_chrome .cke_float------------+
	|+-- .cke_inner ---------------------+|
	|| +-- .cke_top -------------------+ ||
	|| |                               | ||
	|| +-------------------------------+ ||
	|+-----------------------------------+|
	+-------------------------------------+

Special outer level classes used in this file:

	.cke_hc: Available when the editor is rendered on "High Contrast".

*/

/* The outer boundary of the interface. */
.cke_chrome { /* This is <span>, so transform it into a block.*/
	display: block;
	border: 1px solid #d9d9d9;
	border-bottom-color: #ccc;
	padding: 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .15);
	box-shadow: 0 0 3px rgba(0, 0, 0, .15);
}

/* The inner boundary of the interface. */
.cke_inner { /* This is <span>, so transform it into a block.*/
	display: block;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-touch-callout: none;
	border-radius: 3px;
	background: #fff;
	padding: 0;
}

/* Added to the outer boundary of the UI when in inline editing,
   when the UI is floating. */
.cke_float {
	/* Make white the space between the outer and the inner borders. */
	border: none;
}

.cke_float .cke_inner {
	/* As we don't have blocks following top (toolbar) we suppress the padding
	   as the toolbar defines its own margin. */
	padding-bottom: 0;
}

/* Make the main spaces enlarge to hold potentially floated content. */
.cke_top,.cke_contents,.cke_bottom {
	/* These are <span>s, so transform them into blocks.*/
	display: block;
	/* Ideally this should be "auto", but it shows scrollbars in IE7. */
	overflow: hidden;
}

.cke_top {
	border: 1px solid #0d0d0d;
	padding: 6px 8px 2px;
	-moz-border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .15) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .15) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .15) inset;
	background: #1f1f1f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#333),
		to(#1f1f1f) );
	background-image: -moz-linear-gradient(top, #333, #1f1f1f);
	background-image: -webkit-linear-gradient(top, #333, #1f1f1f);
	background-image: -o-linear-gradient(top, #333, #1f1f1f);
	background-image: -ms-linear-gradient(top, #333, #1f1f1f);
	background-image: linear-gradient(top, #333, #1f1f1f);
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,
		startColorstr='#ff333333', endColorstr='#ff1f1f1f' );
}

.cke_float .cke_top {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.cke_bottom {
	border-top: 1px solid #ccc;
	padding: 4px 8px;
	position: relative;
	-moz-border-radius: 0 0 2px 2px;
	-webkit-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
	-moz-box-shadow: 0 1px 0 0 #fff inset;
	-webkit-box-shadow: 0 1px 0 #fff inset;
	box-shadow: 0 1px 0 0 #fff inset;
	background: #d4d4d4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5),
		to(#d4d4d4) );
	background-image: -moz-linear-gradient(top, #e5e5e5, #d4d4d4);
	background-image: -webkit-linear-gradient(top, #e5e5e5, #d4d4d4);
	background-image: -o-linear-gradient(top, #e5e5e5, #d4d4d4);
	background-image: -ms-linear-gradient(top, #e5e5e5, #d4d4d4);
	background-image: linear-gradient(top, #e5e5e5, #d4d4d4);
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,
		startColorstr='#ffe5e5e5', endColorstr='#ffd4d4d4' )
}

/* The resizer is the small UI element that is rendered at the bottom right
   part of the editor. It makes is possible to resize the editor UI. */
.cke_resizer {
	/* To avoid using images for the resizer, we create a small triangle,
	   using some CSS magic. */
	width: 0;
	height: 0;
	overflow: hidden;
	width: 0;
	height: 0;
	overflow: hidden;
	border-width: 10px 10px 0 0;
	border-color: transparent #A5A5A5 transparent transparent;
	border-style: dashed solid dashed dashed;
	font-size: 0;
	float: right;
	vertical-align: bottom;
	cursor: se-resize;
	position: absolute;
	bottom: 3px;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .3);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .3);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .3);
}

.cke_resizer_ltr {
	right: 3px;
}

/* This class is added in RTL mode. This is a special case for the resizer
   (usually the .cke_rtl class is used), because it may not necessarily be in
   RTL mode if the main UI is RTL. It depends instead on the context where the
   editor is inserted on. */
.cke_resizer_rtl {
	background-position: 0 -10px;
	cursor: sw-resize;
	left: 3px;
	right: auto;
}

/* The editing area (where users type) can be rendered as an editable <div>
   element (e.g. divarea plugin). In that case, this is the class applied to
   that element. */
.cke_wysiwyg_div {
	display: block;
	height: 100%;
	overflow: auto;
	padding: 0 8px;
	outline-style: none;
}