
<ul class="nav pull-right">
	<li><a href="#">Login</a></li>
	<li class="divider-vertical"></li>
	<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Other <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="#">Daftar</a></li>
			<li><a href="#">Cara Membeli</a></li>
			<li><a href="#">Pengiriman</a></li>
			<li class="divider"></li>
			<li><a href="#">Keluhan dan Pertanyaan</a></li>
			<li><a href="#">Testimoni</a></li>
		</ul></li>
</ul>