@font-face {
	font-family: 'open_sanslight';
	src: url('../fonts/opensans-light-webfont.eot');
	src: url('../fonts/opensans-light-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/opensans-light-webfont.woff') format('woff'),
		url('../fonts/opensans-light-webfont.ttf') format('truetype'),
		url('../fonts/opensans-light-webfont.svg#open_sanslight')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'latoregular';
	src: url('../fonts/lato-regular-webfont.eot');
	src: url('../fonts/lato-regular-webfont.eot?#iefix')
		format('embedded-opentype'), url('../fonts/lato-regular-webfont.woff')
		format('woff'), url('../fonts/lato-regular-webfont.ttf')
		format('truetype'),
		url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'latolight';
	src: url('../fonts/lato-light-webfont.eot');
	src: url('../fonts/lato-light-webfont.eot?#iefix')
		format('embedded-opentype'), url('../fonts/lato-light-webfont.woff')
		format('woff'), url('../fonts/lato-light-webfont.ttf')
		format('truetype'), url('../fonts/lato-light-webfont.svg#latolight')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Rockwell';
	src: url('../fonts/.eot?') format('eot'), url('../fonts/Rockwell.woff')
		format('woff'), url('../fonts/Rockwell.ttf') format('truetype'),
		url('../fonts/Rockwell.svg#Rockwell') format('svg');
}

.triangle-bottomright {
	width: 0;
	height: 0;
	border-bottom: 30px solid #01529b;
	border-left: 30px solid transparent;
	float: right;
	margin-right: -25px;
	margin-bottom: -30px;
}

.gallery-image {
	padding: 8px;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, .1);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, .1);
	border: 1px solid #f5f5f5;
	margin: 0 -1px 19px;
}

.gallery-image .zoom {
	text-indent: -9999px;
	overflow: hidden;
	background: #000 url(../image/bg-zoom.png) 50% 50% no-repeat;
	background: rgba(0, 0, 0, .3) url(../images/bg-zoom.png) 50% 50%
		no-repeat;
}

.gallery-image .zoom2 {
	text-indent: -9999px;
	overflow: hidden;
	background: #000 url(../image/bg-zoom2.png) 50% 50% no-repeat;
	background: rgba(0, 0, 0, .3) url(../images/bg-zoom2.png) 50% 50%
		no-repeat;
}

.gallery-image .video2 {
	text-indent: -9999px;
	overflow: hidden;
	background: #000 url(../image/bg-video2.png) 50% 50% no-repeat;
	background: rgba(0, 0, 0, .3) url(../images/bg-video2.png) 50% 50%
		no-repeat;
}

.gallery-image strong {
	display: block;
	margin-bottom: 2px;
	font: bold 14px/18px 'Open Sans', Arial, Helvetica, sans-serif;
}

.gallery-image a {
	color: #222;
}

.gallery-image a:hover {
	color: #000;
}

.gallery-image:hover .note {
	display: block;
}

.gallery-image .note {
	display: none;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0, 0, 0, .3);
}

.gallery-image .note-holder {
	position: relative;
	width: 100%;
}

.gallery-image img {
	display: block;
}

.row .gallery-image .note {
	width: 393px;
	height: 200px;
	padding: 85px 5px 5px;
	background: #fff url(../images/bg-photo.png) 188px 47px no-repeat;
	background: rgba(255, 255, 255, .8) url(../images/bg-photo.png) 188px
		47px no-repeat;
}