/*!
 * Jasny Bootstrap Responsive Extensions j3
 *
 * Copyright 2012 Jasny BV
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Extended with pride by @ArnoldDaniels of jasny.net
 */
.clearfix {
	*zoom: 1;
}

.clearfix:before,.clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}

.clearfix:after {
	clear: both;
}

.hide-text {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.input-block-level {
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container-semifluid {
	max-width: 1170px;
}

@media ( min-width : 768px) and (max-width: 979px) {
	.row-desktop.row-fluid {
		width: 100%;
	}
	.row-desktop.row {
		margin-left: 0;
	}
	.row-desktop>[class*="span"],.row-desktop>[class*="span"] {
		display: block;
		float: none;
		width: auto;
		margin: 0;
	}
}

@media ( max-width : 767px) {
	.table-responsive tr {
		display: block;
		padding: 8px;
	}
	.table-bordered.table-responsive tr {
		border: 1px solid #DDD;
		border-top: 0;
		border-right: 0;
	}
	.table-responsive td,.table-responsive th {
		display: block;
		padding: 0;
		font-weight: normal;
		border: none;
	}
	.table-responsive th {
		font-style: italic;
	}
	.responsive-strong {
		font-weight: bold;
	}
	.responsive-em {
		font-style: italic;
	}
	.responsive-soft {
		color: #999;
	}
}

@media ( max-width : 480px) {
	.form-horizontal .controls,.form-horizontal .well .controls,.small-labels .controls
		{
		margin-left: 0;
	}
}

@media ( max-width : 768px) {
	.form-horizontal .form-actions {
		padding-left: 18px;
	}
}

@media ( min-width : 768px) and (max-width: 979px) {
	.form-horizontal .control-label {
		width: 100px;
	}
	.form-horizontal .controls {
		margin-left: 110px;
	}
	.form-horizontal .form-actions {
		padding-left: 110px;
	}
	.form-horizontal .well .control-label {
		width: 80px;
	}
	.form-horizontal .well .controls {
		margin-left: 90px;
	}
	.small-labels .control-group>label {
		width: 50px;
	}
	.small-labels .controls {
		margin-left: 60px;
	}
	.small-labels .form-actions {
		padding-left: 60px;
	}
}

@media ( min-width : 1200px) {
	.small-labels .control-group>label {
		width: 80px;
	}
	.small-labels .controls {
		margin-left: 100px;
	}
	.small-labels .form-actions {
		padding-left: 100px;
	}
}

@media ( max-width : 480px) {
	.page-alert {
		position: static;
		width: auto;
	}
	.page-alert .alert {
		width: auto;
		margin-left: 0;
		border-top-width: 1px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	body>.page-alert {
		position: static;
	}
}

@media ( min-width : 1200px) {
	.page-alert .alert {
		width: 700px;
		margin-left: -375px;
	}
}